<%- include("../fragmente/head") %>
<%- include("../fragmente/header") %>

<main class="pagina-galerie">
    <%- include("../fragmente/galerie-statica") %>
</main>

<%- include("../fragmente/footer") %>